USE [QLYHLQ]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](100) NULL,
	[TRANGTHAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTLSGD]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTLSGD](
	[ID] [int] NOT NULL,
	[IDHOADON] [int] NULL,
	[IDBAN] [int] NULL,
	[IDDV] [int] NULL,
	[TenDV] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[THOIGIAN] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNGUOIDUNG] [nvarchar](100) NOT NULL,
	[TENDANGNHAP] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[LOAITK] [int] NOT NULL,
 CONSTRAINT [PK__NGUOIDUN__6C836FE40CBAE877] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LSNX]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSNX](
	[TENMATHANG] [nvarchar](1000) NULL,
	[SOLUONG] [int] NULL,
	[NGAY] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[IDNV] [int] NULL,
	[TENNV] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LSGD]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSGD](
	[IDHD] [int] NULL,
	[IDBAN] [int] NULL,
	[TIENDV] [int] NULL,
	[NGAY] [datetime] NULL,
	[GIAMGIA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENMATHANG] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBAN] [int] NULL,
	[TIENDV] [int] NULL,
	[NGAY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](100) NOT NULL,
	[IDDANHMUC] [int] NOT NULL,
	[GIATIEN] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 03/26/2023 12:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHOADON] [int] NULL,
	[IDBAN] [int] NULL,
	[IDDV] [int] NULL,
	[TenDV] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[THOIGIAN] [datetime] NULL,
 CONSTRAINT [PK__CTHOADON__3214EC273C69FB99] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__BAN__TRANGTHAI__014935CB]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[BAN] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
/****** Object:  Default [DF__CTHOADON__SOLUON__3E52440B]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTHOADON] ADD  CONSTRAINT [DF__CTHOADON__SOLUON__3E52440B]  DEFAULT ((0)) FOR [SOLUONG]
GO
/****** Object:  Default [DF_CTHOADON_THOIGIAN]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTHOADON] ADD  CONSTRAINT [DF_CTHOADON_THOIGIAN]  DEFAULT (getdate()) FOR [THOIGIAN]
GO
/****** Object:  Default [DF__CTLSGD__SOLUONG__440B1D61]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTLSGD] ADD  CONSTRAINT [DF__CTLSGD__SOLUONG__440B1D61]  DEFAULT ((0)) FOR [SOLUONG]
GO
/****** Object:  Default [DF__CTLSGD__NGAY__44FF419A]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTLSGD] ADD  CONSTRAINT [DF__CTLSGD__NGAY__44FF419A]  DEFAULT (getdate()) FOR [THOIGIAN]
GO
/****** Object:  Default [DF_HOADON_NGAY]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Default [DF__LSGD__NGAY__4222D4EF]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[LSGD] ADD  CONSTRAINT [DF__LSGD__NGAY__4222D4EF]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Default [DF_LSGD_GIAMGIA]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[LSGD] ADD  CONSTRAINT [DF_LSGD_GIAMGIA]  DEFAULT ((0)) FOR [GIAMGIA]
GO
/****** Object:  Default [DF_LSNX_NGAY]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[LSNX] ADD  CONSTRAINT [DF_LSNX_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Default [DF__NGUOIDUNG__LOAIT__0EA330E9]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [DF__NGUOIDUNG__LOAIT__0EA330E9]  DEFAULT ((0)) FOR [LOAITK]
GO
/****** Object:  ForeignKey [FK__CTHOADON__IDDV__3F466844]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CTHOADON__IDDV__3F466844] FOREIGN KEY([IDDV])
REFERENCES [dbo].[DICHVU] ([ID])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK__CTHOADON__IDDV__3F466844]
GO
/****** Object:  ForeignKey [FK__CTHOADON__IDHOAD__403A8C7D]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CTHOADON__IDHOAD__403A8C7D] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK__CTHOADON__IDHOAD__403A8C7D]
GO
/****** Object:  ForeignKey [FK__DICHVU__GIATIEN__09DE7BCC]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD FOREIGN KEY([IDDANHMUC])
REFERENCES [dbo].[DANHMUC] ([ID])
GO
/****** Object:  ForeignKey [FK__HOADON__IDBAN__1367E606]    Script Date: 03/26/2023 12:55:11 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDBAN])
REFERENCES [dbo].[BAN] ([ID])
GO
